# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AngryBirds_PruebaTecnica.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\AngryBirds_PruebaTecnica\.idea\.idea.AngryBirds_PruebaTecnica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
